@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agrandir';
  src: url('@/assets/fonts/Agrandir-WideBlackItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
